.second__section {
  text-align: center;
  margin: 26px 0;

  h1 {
    color: #273b98;
  }

  p {
    color: #819ec7;
    margin: 16px 0;
  }

  button {
    border-radius: 40px;
    background: linear-gradient(
      224.39deg,
      #35d5a5 2.1%,
      #00c7c5 32.94%,
      #2d9be0 57.62%,
      #5277f7 71.52%,
      #5b75f6 79.13%,
      #7370f4 91.42%,
      #836df3 98.23%
    );
    color: white;
    padding: 10px 30px;
  }
}
